<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

	{%- include head.html -%}

	<body>

		{%- include header.html -%}

		<div class="container">
			<div class="row">
				<div id="sidebar-wrapper">
					<!--nav id="sidebar-wrapper"-->
						<ul class="sidebar-nav">
							{% for entry in site.data.toc %}
							{%- assign current_page = site.pages | where: "path", entry.path | first -%}
							<li class="sidebar-nav-item"><a href="{{ current_page.url | relative_url }}">{{ current_page.title }}</a></li>
							{% if entry.toc[0] %}
							{% for entry2 in entry.toc %}
							{%- assign current_page2 = site.pages | where: "path", entry2.path | first -%}
							<li class="sidebar-nav-item level2"><a href="{{ current_page2.url | relative_url }}">{{ current_page2.title }}</a></li>
							{% endfor %}
							{% endif %}
							{% endfor %}
						</ul>

						{% comment %}
							<form class="form-inline mt-2 mt-md-0">
								<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>
							{%- for path in page_paths -%}
							{%- assign my_page = site.pages | where: "path", path | first -%}
							{%- if my_page.title -%}
							<li class="nav-item active">
								<a class="nav-link" href="{{ my_page.url | relative_url }}">
									{{ my_page.title | escape }} 
									<span class="sr-only">(current)</span>
								</a>
							</li>
							{%- endif -%}
							{%- endfor -%}
						{% endcomment %}
					<!--/nav-->
				</div>
				<div>
					{{ content }}
				</div>
			</div>
		</div>

		{%- include footer.html -%}
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	</body>
</html>
